main{
    min-height: 80vh;
}

#ProdCard{
    height: 410px;
}
.rza{
    height:40px;
}
.rating span{
    margin: 0.1rem;
}
.rating{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#buttoni{
    display: flex;
    flex-direction: column;
}
#signup{
    margin-top: 0.5rem;
}
.navi{
    justify-content: flex-end;
}
.searchbox{
    width: 350px;
    margin-left:200px;
}
.form{
    display: flex;
}
.text-right{
    display: flex;
    flex-direction: row-reverse;
}

.total{
    height: 61px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
}