main{
    min-height: 80vh;
}

#ProdCard{
    height: 410px;
}
.rza{
    height:40px;
}
.rating span{
    margin: 0.1rem;
}
.rating{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.carousel img {
    display:block;
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
    .carousel a {
        margin :0 auto;
    }
    @media(max-width: 900px) {
        .carousel-caption h2 {
            font-size: 2.5vw;
        }
    }

#buttoni{
    display: flex;
    flex-direction: column;
}
#signup{
    margin-top: 0.5rem;
}
.navi{
    justify-content: flex-end;
}
.searchbox{
    width: 350px;
    margin-left:200px;
}
.form{
    display: flex;
}
.text-right{
    display: flex;
    flex-direction: row-reverse;
}

.total{
    height: 61px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
}
.productImage{
    height: 230px;
    object-fit: contain;
}