main{
    min-height: 80vh;
}

#ProdCard{
    height: 410px;
}
.rza{
    height:40px;
}
.rating span{
    margin: 0.1rem;
}
.rating{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
#buttoni{
    display: flex;
    flex-direction: column;
}